@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
